<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wholesmart.mapper.WaringIssueMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.wholesmart.entity.WaringIssue">
		<id column="id" property="id" />
		<result column="source" property="source" />
		<result column="business_id" property="businessId" />
		<result column="business_msg" property="businessMsg" />
		<result column="waring_content" property="waringContent" />
		<result column="micro_id" property="microId" />
		<result column="start_time" property="startTime" />
		<result column="end_tiem" property="endTiem" />
		<result column="level" property="level" />
		<result column="issue_person" property="issuePerson" />
		<result column="issue_time" property="issueTime" />
		<result column="state" property="state" />
		<result column="iswaring" property="iswaring" />
		<result column="input_user" property="inputUser" />
		<result column="input_time" property="inputTime" />
		<result column="spare0" property="spare0" />
		<result column="spare1" property="spare1" />
		<result column="spare2" property="spare2" />
		<result column="spare3" property="spare3" />
		<result column="spare4" property="spare4" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, source, business_id AS businessId, business_msg AS businessMsg, waring_content AS waringContent, micro_id AS microId, start_time AS startTime, end_tiem AS endTiem, level, issue_person AS issuePerson, issue_time AS issueTime, state, iswaring, input_user AS inputUser, input_time AS inputTime, spare0, spare1, spare2, spare3, spare4
    </sql>

</mapper>
