<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wholesmart.mapper.HiddenDangerMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.wholesmart.entity.HiddenDanger">
		<id column="id" property="id" />
		<result column="road_id" property="roadId" />
		<result column="org_name" property="orgName" />
		<result column="road_name" property="roadName" />
		<result column="danger_road_name" property="dangerRoadName" />
		<result column="danger_road_type" property="dangerRoadType" />
		<result column="work_progress" property="workProgress" />
		<result column="lng" property="lng" />
		<result column="lat" property="lat" />
		<result column="remark" property="remark" />
		<result column="collect_time" property="collectTime" />
		<result column="original_id" property="originalId" />
		<result column="input_user" property="inputUser" />
		<result column="input_time" property="inputTime" />
		<result column="spare0" property="spare0" />
		<result column="spare1" property="spare1" />
		<result column="spare2" property="spare2" />
		<result column="spare3" property="spare3" />
		<result column="spare4" property="spare4" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, road_id AS roadId, org_name AS orgName, road_name AS roadName, danger_road_name AS dangerRoadName, danger_road_type AS dangerRoadType, work_progress AS workProgress, lng, lat, remark, collect_time AS collectTime, original_id AS originalId, input_user AS inputUser, input_time AS inputTime, spare0, spare1, spare2, spare3, spare4
    </sql>

</mapper>
