<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wholesmart.mapper.OnezerozeroMsgMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.wholesmart.entity.OnezerozeroMsg">
		<id column="id" property="id" />
		<result column="keyword_id" property="keywordId" />
		<result column="collect_time" property="collectTime" />
		<result column="original_id" property="originalId" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="answer_police" property="answerPolice" />
		<result column="report_time" property="reportTime" />
		<result column="keyword" property="keyword" />
		<result column="report_person" property="reportPerson" />
		<result column="iswaring" property="iswaring" />
		<result column="input_user" property="inputUser" />
		<result column="input_time" property="inputTime" />
		<result column="spare0" property="spare0" />
		<result column="spare1" property="spare1" />
		<result column="spare2" property="spare2" />
		<result column="spare3" property="spare3" />
		<result column="spare4" property="spare4" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, keyword_id AS keywordId, collect_time AS collectTime, original_id AS originalId, title, content, answer_police AS answerPolice, report_time AS reportTime, keyword, report_person AS reportPerson, iswaring, input_user AS inputUser, input_time AS inputTime, spare0, spare1, spare2, spare3, spare4
    </sql>

</mapper>
